<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <section >
      
        <div class="text-center ">
          <h1 class="mt-3" style="padding-top: 5em;" id="contact">contact me</h1>
          <div class="container-fluid">
            <div>
              <form id="submit-form"  action="">
                <div class="row">
                  <div class="col-12 p-2 ">
                    <input  class="form-control border-0 shadow-sm "  name="Name" id="nameValidation" placeholder="Your Name" type="text" maxlength="20"/>
                    <div class="invalid-feedback" id="name-Text">enter your Name</div>
                  </div>
    
                  
    
                  <div class="col-12 p-2">
                    <input id="numberValidation" type="tel"  name="Phone Number" placeholder="Enter your phone number" class="form-control border-0 shadow-sm"  maxlength="10" />
                    <div class="invalid-feedback" id="text-Number">Enter your phone number </div>
                  </div>
    
                  <div class="col-12 p-2">
                    <input id="mailValidation" type="text"  placeholder="Enter your email" class="form-control fs-6 border-0 shadow-sm" name="Email Address" />
                    <div class="invalid-feedback" id="mail-type"> Enter email address </div>
                  </div>
    
                  <div class="col-12 p-2">
                    <textarea id="messageValidation" placeholder="Your Message" rows="5" class="form-control form-control-lg fs-6 border-0 shadow-sm" name="Message"  ></textarea>
                    <div class="invalid-feedback" id="msg-text">Text a message</div>
                  </div>
    
                  <div class="col-12 p-2">
                    <button type="submit" class="btn btn-primary px-4 fs-6"> Submit</button>
                  </div>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
        </section>
        <script>
          
      var nameValidated = false;
var phoneValidated = false;
var emailValidated = false;
var messageValidated = false;


$("#nameValidation").keyup(function () {
  if ($("#nameValidation").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
    $("#name-Text").show();
    $("#name-Text").text(" ");
    nameValidated = true;
  } else {
    $("#name-Text").show();
    $("#name-Text").text("Invalid name! try again");
    $("#name-Text").css("class", "invalid-feedback");
    nameValidated = false;
  }
  $("#nameValidation").keypress(function (num) {
    if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)  ) {
      num.preventDefault();
    }
  });
  if ($("#nameValidation").val().length < 3) {
    $("#name-Text").show();
    $("#name-Text").text("Name should have type morethan 3 characters");
    $("#name-Text").css("class", "invalid-feedback");
    nameValidated = false;
  }
});
$("#nameValidation").blur(function () {
  if ($("#nameValidation").val() == "") {
    $("#name-Text").show();
    $("#name-Text").text("Name should not be empty!");
    $("#name-Text").css("class", "invalid-feedback");
    nameValidated = false;
  }
});


$("#numberValidation").keypress(function (num) {
  return num.charCode >= 48 && num.charCode <= 57;
});
$("#numberValidation").keyup(function () {
  if ($("#numberValidation").val().match(/^\d+$/)) {
    $("#text-Number").show();
    $("#text-Number").text(" ");
    phoneValidated = true;
  }
  if ($("#numberValidation").val().length < 10) {
    $("#text-Number").show();
    $("#text-Number").text("Phone number should be 10 digits!");
    $("#text-Number").css("class", "invalid-feedback");
    phoneValidated = false;
  }
});

$("#numberValidation").blur(function () {
  if ($("#numberValidation").val() == "") {
    $("#text-Number").show();
    $("#text-Number").text("Phone number is required!");
    $("#text-Number").css("class", "invalid-feedback");
    phoneValidated = false;
  }
});

$("#mailValidation").keyup(function () {
  if ($("#mailValidation").val().match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
    $("#mail-type").text(" ");
    $("#mail-type").show();
    emailValidated = true;
  } else {
    $("#mail-type").show();
    $("#mail-type").text("Invalid email address");
    $("#mail-type").css("class", "invalid-feedback");
    emailValidated = false;
  }
});
$("#mailValidation").blur(function () {
  if ($("#mailValidation").val() == "") {
    $("#mail-type").show();
    $("#mail-type").text("Must enter email");
    $("#mail-type").css("class", "invalid-feedback");
    emailValidated = false;
  }
});


$("#messageValidation").keyup(function () {
  if ($("#messageValidation").val().length < 20) {
    $("#msg-text").show();
    $("#msg-text").text("Message length must be written morethan 20 characters");
    $("#msg-text").css("class", "invalid-feedback");
    messageValidated = false;
  } else {
    $("#msg-text").show();
    $("#msg-text").text(" ");
    messageValidated = true;
  }
  if ($("#messageValidation").val() == "") {
    $("#msg-text").show();
    $("#msg-text").text("You must leave a message ");
    $("#msg-text").css("class", "invalid-feedback");
    messageValidated = false;

  }
});
$('.navbar-collapse a').click(function () {
  $('.navbar-collapse').collapse('hide');
});




$("#submit-form").submit(function (num) {
  if ($("#nameValidation").val() == "" ||  $("#numberValidation").val() == "" || $("#mailValidation").val() == "" || $("#messageValidation").val() == "" ) {
    alert("please fill the form properly");
  }
  if ($("#nameValidation").val() == "" &&  $("#numberValidation").val() == "" && $("#mailValidation").val() == "" && $("#messageValidation").val() == "" ) {
    num.preventDefault();
    $("#name-Text").show();
    $("#text-Number").show();
    $("#mail-type").show();
    $("#msg-text").show();
  } else if (
    nameValidated &&
    phoneValidated &&
    emailValidated &&
    messageValidated
  ) {
    num.preventDefault();
    $.ajax({
      url: "https://script.google.com/macros/s/AKfycbzTkL5i1GncmbTaxtSH7neJUABFhp0WyIxLesoi5EmXWQspp9p1/exec",
      data: $("#submit-form").serialize(),
      method: "post",
      success: function (response) {
        alert("Form submitted successfully");
        window.location.reload();
      },
      error: function (err) {
        alert("Something Error");
      },
    });
  } else {
    num.preventDefault();
  }
});

   
        </script>
</body>
</html>