<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title></title>
    <style>
      
      /* .content{
        height: 500px;
        width: 100%;
       
        justify-content: center;
        display: flex;
        align-items: center;
      } */
      
      .main{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        
        
      }
      .main input{
        width: 100px;
        height: 40px;
        
        border: 0;
        background-color: rgba(110, 110, 110, 0.24);
      }
      .header{
      
        padding: 20px;
      }
      h1{
        font-size: 3.5rem;
      }
      .nav-item input{
        border: 0;
        background-color: white;
        font-size: 25px;
        margin-left: 25px;
      }
      section{
        display: flex;
    height: 92vh;
    width: 100%;
    user-select: auto;
    align-items: center;
    justify-content: center;
  
      }.container{
        margin-top: 40px;
        border: 2px solid ;
        border-radius: 10px;
        width: 100%;
      }
      .search{
          display: flex;
      }
  </style>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div style="justify-content: space-between; height: 70;" class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="nav-left">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <form action="/admin/home">
                    <input value="Home" type="submit">
                </form>
                </li>
                <li>
                    <div class="search">
                        <form method="POST" action="/admin/search" class="form-inline my-2 my-lg-0">
                            
                                <input style="font-size: 19.5px; margin-left: 30px;" class=" " type="search" placeholder="Search" name="name" aria-label="Search">
                            
                            
                                <button class="btn btn-outline-success " type="submit">Search</button>
                            
                          </form>
                    </div>
                </li>
        
              </ul>
            </div>
            <div class="nav-right">
              <form  action="/logout">
                <input value="Log out" type="submit">
            </form>
            </div>
           
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
    
    
              </tr>
            </thead>
            <tbody>
              <tr>
                <% for(var i=0; i < response.length; i++) { %>
                    <tr>
                      
                      <td><%= response[i].name %></td>
                      <td><%= response[i].email %></td>
                      <td><%= response[i].number %></td>
                      
                      
                    </tr>
                 <% } %>
            </tbody>
          </table>
    </div>
      

      
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
